@font-face {
  font-family: "Eulyoo1945";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/eulyoo1945/Eulyoo1945-Regular.woff2")
    format("woff2-variations");
}

@font-face {
  font-family: "Eulyoo1945";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/eulyoo1945/Eulyoo1945-SemiBold.woff2")
    format("woff2-variations");
}

.eulyoo {
  font-family: "Eulyoo1945";
}
